body, html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#containereins {
    position: fixed;
    inset: 0px;
    text-align: center;
}
#containereins > h1 {
    margin-top: 50%;
} 